HOGE=foo
FUGA=bar

LOGGING = {
    "version": 1,
    "disable_existing_loggers": False,
    "formatters": {"simple": {"format": "%(asctime)s [%(levelname)s] %(message)s"}},
    "handlers": {
        {{ logging.handler }}
    },
    "root": {
        "handlers": ["info", "warning", "error"],
        "level": "INFO",
    },
}
